POSTGRES_USER=hostlet
POSTGRES_PASSWORD=
POSTGRES_DB=hostlet
DOCKER_GID=
DATABASE_URL=postgres://hostlet:CHANGE_ME@localhost:5432/hostlet
BIND_ADDR=0.0.0.0:8080
PUBLIC_API_URL=http://localhost:8080
PUBLIC_WEB_URL=http://localhost:3000
PUBLIC_WEBHOOK_URL=
HOSTLET_CONTROL_PLANE_HOST=localhost
HOSTLET_ALLOWED_WEB_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
HOSTLET_BASE_DOMAIN=
HOSTLET_DOMAIN_PREFIX=hostlet-
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_TUNNEL_TARGET=
CLOUDFLARE_TUNNEL_TOKEN=
HOSTLET_ALLOW_INSECURE_DEV_DEFAULTS=false
HOSTLET_SETUP_TOKEN=
ENCRYPTION_KEY=
JOB_SIGNING_SECRET=
SESSION_SECRET=
LOCAL_SERVER_ID=00000000-0000-0000-0000-000000000001
LOCAL_AGENT_TOKEN=
GITHUB_WEBHOOK_SECRET=
GITHUB_CLIENT_ID=
HOSTLET_ALLOWED_GITHUB_LOGINS=
